#about {
    .container {
        padding-top: 13rem;
        .about-item {

            h5 {
                color: $rankOn-primary-color;

            }
            h3 {
                span {
                    color: $rankOn-primary-color;
                }

            }
            p {

            }
            ul {
                li {
                    i {
                        color: $rankOn-primary-color;
                    }
                }
            }
            button {
                @include rankon-btn;
            }
        }

    }
}