#about {
    .container {
        padding-top: 13rem;
        .about-item {

            h5 {
                color: $rankOn-primary-color;

            }
            h3 {
                span {
                    color: $rankOn-primary-color;
                }

            }
            p {

            }
            ul {
                li {
                    i {
                        color: $rankOn-primary-color;
                    }
                }
            }
            button {
                @include rankon-btn;
            }
        }

    }
}

.hexagon {
    @include moving;
    @include for-phone-only {
        display: none;
    }
    img {
        animation: moving 5s linear infinite;
        -webkit-animation: moving 5s linear infinite;
        max-width: 100%;
    }
}