#client-brand {
    .container {
        background-color: white;
        .client-brand {
            
        }
    }
 
    .slick-slide img {
        display: inline; 
    }
    .slick-dots {
        display: none!important;
    
    }
    
}


