#services {
    .container {
        .services-header {
            h6 {
                color: $rankOn-primary-color;
            }
            h2 {
                color: $rankOn-secondary-color;
                span {
                    color: $rankOn-primary-color;

                }
            }
        }
        .services-item {
            .card {
                @include tranisition;
                background-color: #e9f8f9;
                &:hover {
                    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
                }
                .card-body {
                    .icon-bg {
                        width: 80px;
                        height: 80px;
                        line-height: 80px;
                        @include border-radius-50;
                    }

                }
              
            }
        }
    }
}