#website {
    .container {
        .website-left {
            @include for-desktop-up {
                padding-right: 5rem;
            }
            h5 {
                color: $rankOn-primary-color;

            }
            h3 {
                span {
                    a {
                        color: $rankOn-primary-color;
                    }
                }

            }
            p {

            }
            form {
               .form {
                @include for-desktop-up {
                    background-color: white;
                }
                @include for-desktop-up {
                    position: relative;
                    &::before {
                        position: absolute;
                        content: '';
                        top: 0;
                        width: 2px;
                        height: 100%;
                        left: 50%;
                        @include transform-x-50;
                        background-color: rgba(20, 64, 107, 80%);
                        opacity: 20%;
                    }
                }
               }
               button {
                @include rankon-btn;
               }
            }
        }
    }
}